<link rel="stylesheet" href="/stylesheets/muebleria.css">
<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col">
            <p class="text-right">
                <span>Hola {{usuario}}
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fasfa-sign-out-alt"></i></a></p>
    </div>
</div>