<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="text-right"
            <span>Hola {{usuario}}</span>
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion<i class="fasfa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>